body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerText {
  text-align: center;
  padding: top 20px;
}

.center {
  text-align: center;
  margin-top: 20px;
}
.container {
  text-align: center;
}

.title {
  text-align: center;
}

.button123 {
  margin-left: 694px;
}
